root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
continuation_indent_size = 2
tab_width = 2
max_line_length = 120
quote_type = single
spaces_around_operators = true
spaces_around_brackets = outside
indent_brace_style = K&R
wildcard_import_limit = 100

[{*.js, *.jsx, *.es6, *.ts, *.tsx}]
charset = utf-8
trim_trailing_whitespace = true
