@font-face {
  font-family: 'Circular';
  font-style: normal;
  font-weight: 500;
  src: url('https://s3.eu-central-1.amazonaws.com/spryker/fonts/circular-pro/lineto-circular-pro-medium.woff2')
       format('woff2');
}

.appHandler {
  background-color: #ffffff;
  font-family: 'Circular';
}
